%html
  %head
    %script{:type => 'text/javascript',
      :src => 'lib/jquery.min.js'}
    %script{:type => 'text/javascript',
      :src => 'http://localhost:8080/nowjs/now.js'}
    %script{:type => 'text/javascript', :src => 'lib/geom.js'}
    %script{:type => 'text/javascript', :src => 'piece.js'}
    %script{:type => 'text/javascript', :src => 'playArea.js'}
    %script{:type => 'text/javascript', :src => 'tetris.js'}

  %body
    %canvas#canvas{:tabindex => '0', :width => 700, :height => 600}
      Browser not compatible with HTML5 canvas
